* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*------- GRID SYSTEM ---------*/

.container {
  margin: 0 auto;
}

@media (min-width: 300px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 790px) {
  .container {
    width: 750px;
    padding: 0 15px;
  }
}

@media (min-width: 1020px) {
  .container {
    width: 990px;
    padding: 0 15px;
  }
}

@media (min-width: 1320px) {
  .container {
    width: 1300px;
    padding: 0 20px;
  }
}

@media (min-width: 300px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6 {
    float: left;
    padding: 0 10px;
  }

  .col-xs-1 {
    width: 16.6667%;
  }

  .col-xs-2 {
    width: 33.3333%;
  }

  .col-xs-3 {
    width: 50%;
  }

  .col-xs-4 {
    width: 66,6667%;
  }

  .col-xs-5 {
    width: 83,3333%;
  }

  .col-xs-6 {
    width: 100%;
  }
}

@media (min-width: 780px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6 {
    float: left;
    padding: 0 15px;
  }

  .col-sm-1 {
    width: 16.6667%;
  }

  .col-sm-2 {
    width: 33.3333%;
  }

  .col-sm-3 {
    width: 50%;
  }

  .col-sm-4 {
    width: 66.6667%;
  }

  .col-sm-5 {
    width: 83.3333%;
  }

  .col-sm-6 {
    width: 100%;
  }
}

@media (min-width: 1020px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
    padding: 0 15px;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.6667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  .col-md-5 {
    width: 41.6665%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3331%;
  }

  .col-md-8 {
    width: 66.6664%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.333%;
  }

  .col-md-11 {
    width: 91.6666%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1320px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
    padding: 0 20px;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.6667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333%;
  }

  .col-lg-5 {
    width: 41.6665%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3331%;
  }

  .col-lg-8 {
    width: 66.6664%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.333%;
  }

  .col-lg-11 {
    width: 91.6666%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.container:after,
.row:after,
.clear:after {
  clear: both;
}
/*-------- FONTS --------*/

@font-face {
  font-family: 'GothamPro-Regular';
  src: url("../fonts/GothamPro-Regular/GothamPro-Regular.eot");
  src: url("../fonts/GothamPro-Regular/GothamPro-Regular.woff2") format('woff2'), url("../fonts/GothamPro-Regular/GothamPro-Regular.woff") format('woff'), url("../fonts/GothamPro-Regular/GothamPro-Regular.ttf") format('truetype'), url("../fonts/GothamPro-Regular/GothamPro-Regular.svg#GothamPro-Regular") format('svg'), url("../fonts/GothamPro-Regular/GothamPro-Regular.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.woff2") format('woff2'), url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format('woff'), url("../fonts/GothamPro-Medium/GothamPro-Medium.ttf") format('truetype'), url("../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium") format('svg'), url("../fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Black';
  src: url("../fonts/GothamPro-Black/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black/GothamPro-Black.woff2") format('woff2'), url("../fonts/GothamPro-Black/GothamPro-Black.woff") format('woff'), url("../fonts/GothamPro-Black/GothamPro-Black.ttf") format('truetype'), url("../fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black") format('svg'), url("../fonts/GothamPro-Black/GothamPro-Black.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Black';
  src: url("../fonts/Raleway-Black/Raleway-Black.eot");
  src: url("../fonts/Raleway-Black/Raleway-Black.woff2") format('woff2'), url("../fonts/Raleway-Black/Raleway-Black.woff") format('woff'), url("../fonts/Raleway-Black/Raleway-Black.ttf") format('truetype'), url("../fonts/Raleway-Black/Raleway-Black.svg#Raleway-Black") format('svg'), url("../fonts/Raleway-Black/Raleway-Black.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold/Raleway-Bold.woff2") format('woff2'), url("../fonts/Raleway-Bold/Raleway-Bold.woff") format('woff'), url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format('truetype'), url("../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold") format('svg'), url("../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular/Raleway-Regular.woff2") format('woff2'), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format('woff'), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format('truetype'), url("../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular") format('svg'), url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium/Raleway-Medium.woff2") format('woff2'), url("../fonts/Raleway-Medium/Raleway-Medium.woff") format('woff'), url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format('truetype'), url("../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium") format('svg'), url("../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*--------	COMMON STYLES --------*/

body {
  font: 1em/1.5 'Raleway-Regular', sans-serif;
  color: #212121;
  overflow-x: hidden;
}

*::-moz-selection {
  background-color: #d12c3a;
  color: #fff;
}

*::selection {
  background-color: #d12c3a;
  color: #fff;
}

article,
aside,
main,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
address {
  display: block;
}

time {
  display: inline-block;
}

address {
  font-style: normal;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

a img {
  border: none;
  outline: none;
}

input,
textarea,
button {
  outline: 0;
  border: 0;
}

button {
  cursor: pointer;
}

figure {
  position: relative;
}

figure img,
figure video,
figure object,
figure embed {
  display: inline-block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway-Black';
  font-weight: normal;
  line-height: 1.4;
  text-transform: uppercase;
}

h1 {
  text-transform: none;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 3px;
}

.btn-1,
.btn-2 {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn-1 {
  height: 45px;
  line-height: 45px;
  background: red;
  padding: 0 30px;
}

.btn-1:hover {
  background-color: #bf0000;
}

.btn-2 {
  height: 40px;
  line-height: 40px;
  background: none;
  border: 1px solid red;
  padding: 0 35px;
}

.btn-2:hover {
  background: red;
}

.btn-3 {
  display: block;
  background: #fff;
  height: 70px;
  line-height: 70px;
  font-size: 1.125em;
  color: #141414;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn-3:hover {
  background: #d12c3a;
  color: #fff;
}

.btn-3:hover svg {
  right: -20px;
}

.btn-3:hover svg .st5,
.btn-3:hover svg .st6 {
  stroke: #fff;
}

.btn-3 svg {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  position: relative;
  top: 3px;
  right: 0;
  margin-left: 30px;
}

.btn-3 svg .st0 {
  fill: none;
  stroke: #141414;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.btn-3 svg .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.btn-3 svg .st2 {
  fill: #FFFFFF;
}

.btn-3 svg .st3 {
  fill: none;
  stroke: #DF1F28;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.btn-3 svg .st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.btn-3 svg .st5 {
  fill: none;
  stroke: #DF1F28;
  stroke-width: 1.7541;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn-3 svg .st6 {
  fill: none;
  stroke: #DF1F28;
  stroke-width: 1.6996;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.upload-btn {
  display: inline-block;
  font-size: 0.875em;
  vertical-align: middle;
  border-bottom: 1px dashed #fff;
  cursor: pointer;
  position: relative;
  margin-left: 30px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.upload-btn:hover {
  border-bottom-color: rgba(250, 250, 250, 0.5);
}

.upload-btn:before {
  content: '';
  display: inline-block;
  background-image: url("../pic/svg/icons.svg");
  background-position: 0 -39px;
  width: 21px;
  height: 16px;
  position: absolute;
  left: -30px;
  top: 2px;
}

.social a {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  background: url("../pic/svg/icons.svg");
  margin: 0 15px;
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.social a:hover {
  opacity: 0.7;
}

.social .fb {
  background-position: 0 -103px;
  width: 43px;
  height: 43px;
}

.social .inst {
  background-position: 0 -146px;
}

.social .linkd {
  background-position: 0 -230px;
}

.social .skype {
  background-position: 0 -308px;
}

/*==================== 
			MAIN-PAGE	
=====================*/

/*-----------------
		COMMON-MENU
------------------*/

.common-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
  height: 60px;
}

.main-logo {
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 30px;
  height: 46px;
}

.main-logo img {
  width: 41px;
  position: relative;
  z-index: 10;
}

.main-logo .logo-text {
  opacity: 0;
  width: 90px;
  height: 19px;
  position: absolute;
  cursor: pointer;
  left: 65px;
  top: 15px;
  background: url("../pic/img/logo-text.png");
  background-position: 0px 0px;
}

.menu-button {
  color: #212121;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.875em;
  font-family: 'Raleway-Bold';
  letter-spacing: 2px;
  position: absolute;
  right: 3.5%;
  top: 50px;
}

.menu-button:hover .line {
  width: 30px;
}

.open-button {
  display: inline-block;
  border-top: 2px solid #212121;
  border-bottom: 2px solid #212121;
  width: 30px;
  height: 18px;
  line-height: 18px;
  position: relative;
  top: 3px;
  margin-left: 15px;
}

.open-button .line {
  width: 20px;
  height: 2px;
  background: #212121;
  display: inline-block;
  position: absolute;
  top: 6px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.open-button .line:focus {
  width: 30px;
}

.close-button {
  display: inline-block;
  background: url("../pic/svg/icons.svg");
  background-position: 0 -55px;
  position: absolute;
  right: 55px;
  top: 40px;
  width: 24px;
  height: 24px;
}

/*----------------
	 ACTIVE-MENU
-----------------*/

.menu-wrap {
  background: #fff;
  padding-left: 110px;
  padding-top: 10%;
}

.menu-wrap .pages-list a {
  font-family: 'Raleway-Bold';
  color: #000;
  font-size: 1.56em;
  line-height: 2;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu-wrap .pages-list a:hover {
  color: #d12c3a;
}

.menu-wrap .social-list {
  margin-top: 70px;
}

.menu-wrap .social-list a {
  font: 0.938em/2 'Raleway-Medium';
  color: #9c9c9c;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu-wrap .social-list a:hover {
  color: #000;
}

.menu-wrap address {
  position: absolute;
  bottom: 50px;
}

.menu-wrap address .phone {
  color: #000;
  font-family: 'GothamPro-Medium';
  margin-bottom: 10px;
  display: block;
}

.menu-wrap address .email,
.menu-wrap address .lang {
  color: #000;
  display: inline-block;
  line-height: 1;
  font-family: 'Raleway-Medium';
  border-bottom: 1px solid #000;
  margin-top: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu-wrap address .email:hover,
.menu-wrap address .lang:hover {
  border-color: transparent;
}

.menu-wrap address .lang {
  margin-top: 100px;
}

.active-menu {
  background: #232222;
  z-index: 1000;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
}

.active-menu .container {
  padding-top: 30vh;
  padding-bottom: 270px;
  position: relative;
  min-height: 100vh;
}

.active-menu a {
  color: #fff;
}

.active-menu .nav {
  font: 2.5em/1.9 'Raleway-Black';
  text-transform: uppercase;
}

.active-menu .nav .selected {
  color: #d12c3a;
}

.active-menu .nav .selected:hover {
  color: #d12c3a;
}

.active-menu .nav li {
  margin-left: 105px;
}

.active-menu .nav a {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.active-menu .nav a:hover {
  color: #a7a7a7;
}

.active-menu address {
  text-align: right;
  padding-right: 250px;
}

.active-menu .phone {
  font: 1.875em/2.3 'Raleway-Black';
  display: block;
}

.active-menu .btn-1 {
  margin: 25px 0 40px;
}

.active-menu .social {
  display: inline-block;
  vertical-align: middle;
}

.active-menu .lang {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #616161;
  margin-left: 20px;
}

.active-menu .lang a {
  color: red;
  font-family: 'Raleway-Black';
}

.best-works {
  margin-top: 80px;
  padding: 0 20px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
}

.best-works h3 {
  position: relative;
  text-align: center;
  font: 0.938em 'Raleway-Regular';
  margin-bottom: 50px;
}

.best-works h3:before,
.best-works h3:after {
  width: 110px;
  height: 1px;
  background: red;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 15px 0;
  content: '';
}

.best-works .works-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.best-works .work {
  max-width: 360px;
  height: 180px;
  margin: 0;
}

.best-works .work h4,
.best-works .work p {
  max-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.best-works .work .title-wrap {
  padding-right: 70px;
}

/*----------------
		MAIN,
		ABOUT-US
----------------*/

.main,
.about-us {
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
}

.main .container,
.about-us .container {
  position: relative;
  z-index: 1;
}

.main .title,
.about-us .title {
  color: #212121;
  padding-left: 120px;
  padding-bottom: 60px;
}

.main h1,
.about-us h1 {
  font-size: 4em;
  margin-top: 20px;
}

.main h1 span,
.about-us h1 span {
  color: #d12c3a;
}

.main .subtitle,
.about-us .subtitle {
  font: 1.5em/1.25 'Raleway-Bold';
}

.main .scroll-but,
.about-us .scroll-but {
  min-width: 125px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -60px;
  color: #212121;
  cursor: pointer;
  font-size: 0.875em;
  text-transform: uppercase;
  text-align: right;
  font-family: 'Raleway-Bold';
  letter-spacing: 2px;
}

.main .scroll-but:before,
.about-us .scroll-but:before {
  content: '';
  display: block;
  background: url("../pic/svg/icons.svg");
  position: absolute;
  background-position: 0 -23px;
  width: 28px;
  height: 16px;
  left: 0;
  top: 3px;
  -webkit-animation: spin 0.4s ease-in-out infinite alternate;
  animation: spin 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes spin {
  from {
    top: -2px;
  }

  to {
    top: 3px;
  }
}

@keyframes spin {
  from {
    top: -2px;
  }

  to {
    top: 3px;
  }
}

.main {
  min-height: 100%;
  min-height: 100vh;
}

.main .title {
  margin-top: 40vh;
}

/*---------------
		PORTFOLIO
----------------*/

.portfolio {
  background: #f5f5f5;
}

.portfolio .container {
  padding: 50px 120px;
}

.tags {
  margin-bottom: 70px;
  text-align: center;
}

.tags a {
  margin: 0 30px;
  font-size: 1.125em;
  font-family: 'Raleway-Bold';
  color: #212121;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.tags a:hover {
  color: #d12c3a;
}

.tags .selected {
  color: #d12c3a;
}

.work {
  overflow: hidden;
  position: relative;
  display: block;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 20px 40px;
}

.work img {
  display: block;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  max-width: 485px;
}

.work:hover .title-wrap:after {
  opacity: 0.8;
}

.title-wrap {
  display: block;
  background: #fff;
  position: relative;
  padding: 20px 22px;
  color: #212121;
}

.title-wrap h4 {
  font-size: 1.31em;
  text-transform: none;
}

.title-wrap:after {
  content: '';
  display: block;
  background: url("../pic/svg/link-icon.svg");
  width: 42px;
  height: 42px;
  position: absolute;
  right: 25px;
  top: 25px;
  opacity: 0.2;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

/*===================
		CONTACTS-PAGE
====================*/

.input-effect {
  position: relative;
  z-index: 90;
  margin-bottom: 50px;
}

.input-effect input,
.input-effect textarea {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1em;
}

.input-effect .textarea {
  resize: none;
  text-align: left;
  height: 35px;
  width: 100%;
  font-size: 1em;
  max-height: 150px;
  font-family: 'Raleway-Regular';
}

.input-effect .effect-16 {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #7b7e82;
  background-color: transparent;
}

.input-effect .effect-16 ~ .focus-border {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input-effect .effect-16:focus ~ .focus-border,
.input-effect .has-content.effect-16 ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input-effect .effect-16 ~ label {
  position: absolute;
  text-align: left;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  color: #7b7e82;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.input-effect .effect-16:focus ~ label,
.input-effect .has-content.effect-16 ~ label {
  top: -16px;
  font-size: 12px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-effect .error-text {
  color: #8d1f1f;
  font-size: 0.75em;
  position: absolute;
  right: 20px;
  top: 25px;
}

.input-effect .no-validate {
  border-bottom: 1px solid #d12c3a;
}

.input-effect .no-validate:after {
  content: "sssssssss";
  display: inline-block;
}

.textarea-wrap {
  text-align: right;
  margin: -15px 0 8vh;
  position: relative;
}

.textarea-wrap .error-text {
  top: 45px;
}

.textarea-wrap .effect-16 ~ label {
  top: 18px;
}

.contacts {
  background: #23282e;
  color: #fff;
}

.contacts .container {
  min-height: 100vh;
  padding-top: 25vh;
  padding-bottom: 300px;
  position: relative;
}

.contacts address {
  padding-top: 10vh;
  font-family: 'Raleway-Black';
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.contacts address .phone {
  color: #fff;
  font-size: 1.125em;
  display: block;
}

.contacts address .email {
  color: #d12c3a;
  display: block;
}

.contacts address .address {
  color: rgba(250, 250, 250, 0.5);
  font-family: 'Raleway-Regular';
  font-size: 0.875em;
}

.contacts address .title {
  font-family: 'Raleway-Regular';
  font-size: 0.875em;
}

.contacts .social {
  display: block;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 6vh;
}

.contacts .social:before,
.contacts .social:after {
  width: 90px;
  height: 1px;
  background: red;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 15px 0;
  content: '';
}

.contacts .map-wrap {
  width: 40%;
  position: absolute;
  right: 10px;
  top: 20vh;
  -webkit-filter: drop-shadow(0 10px 10px rgba(8, 9, 11, 0.6));
}

.contacts .map-wrap:before {
  content: '';
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 47%;
  top: 15%;
  width: 10px;
  height: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.address-info {
  display: inline-block;
  width: 25%;
  margin: 0 -2px;
  padding: 0 20px;
  font-family: 'GothamPro-Black';
}

.address-info:last-child {
  min-height: 60px;
  vertical-align: bottom;
}

.address-info:last-child span {
  display: inline-block;
  margin-top: 35px;
}

.address-info .email {
  font-size: 1.125em;
}

.feed-back {
  padding-left: 8.5%;
}

.feed-back .btn-2 {
  font-size: 0.875em;
  text-transform: none;
  width: 180px;
  line-height: 37px;
}

.feed-back .upload-btn {
  margin-left: 60px;
}

/*===================
		ABOUT-US-PAGE
====================*/

/*--------------
		ABOUT-US
---------------*/

.about-us {
  text-align: center;
  padding: 220px 0 80px;
  background: #23282e;
  min-height: auto;
  color: #fff;
}

.about-us .text {
  text-align: left;
  padding-left: 120px;
}

.about-us h2 {
  margin-bottom: 35px;
}

.about-us p {
  font-size: 1.3em;
  line-height: 1.4;
}

/*-----------------
		OUR-SEVISES
------------------*/

.our-sevises {
  background: #23282e;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 150px;
}

.our-sevises h2 {
  margin-left: 120px;
  margin-bottom: 100px;
}

.our-sevises h4 {
  font-size: 0.875em;
  letter-spacing: 2px;
  line-height: 1.4;
}

.our-sevises .svc-icons-wrap {
  text-align: center;
  width: 50%;
  float: left;
}

.our-sevises .service {
  display: inline-block;
  text-align: center;
  width: 160px;
  vertical-align: top;
  margin: 0 60px 70px;
}

.our-sevises .service svg {
  height: 75px;
  margin-bottom: 15px;
}

.our-sevises .svc-text {
  padding: 150px 140px 0 20px;
  width: 50%;
  float: left;
}

.our-sevises .svc-text .title {
  font: 2.19em 'Raleway-Bold';
  margin-bottom: 15px;
}

.our-sevises .svc-text p {
  line-height: 1.65;
  font-size: 1.125em;
}

/*-----------------
		ABOUT-WORK
-----------------*/

.about-work {
  background: #3c444b;
  padding-top: 160px;
  padding-bottom: 140px;
  position: relative;
  z-index: 10;
  color: #fff;
}

.about-work .line {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -35px;
  width: 1px;
  height: 60px;
  background-color: red;
}

.about-work h2 {
  padding-left: 120px;
  line-height: 1.65;
}

.about-work p {
  font-size: 1.125em;
  line-height: 1.65;
  margin-bottom: 20px;
}

/*-----------------
		OUR-CLIENTS
------------------*/

.our-clients {
  text-align: center;
  padding: 90px 0 30px;
  position: relative;
  z-index: 9;
  background: #23282e;
  -webkit-box-shadow: 0 6px 29.4px 0.6px #070707;
  box-shadow: 0 6px 29.4px 0.6px #070707;
  color: #fff;
}

.our-clients:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: -30px;
  width: 1px;
  height: 60px;
  background-color: red;
}

.our-clients .subtitle {
  max-width: 590px;
  margin: auto;
  font-size: 1.125em;
  margin-top: 15px;
  margin-bottom: 70px;
}

.our-clients .clints-logos {
  padding: 0 20px;
  text-align: left;
}

.our-clients figure {
  width: 25%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 -2px 80px;
}

.our-clients figure img {
  cursor: pointer;
}

/*-------------
		FOOTER
--------------*/

.footer {
  padding: 70px 0;
  position: relative;
  background: #23282e;
}

.footer-contacts {
  width: 590px;
  margin: auto;
  background: #292f36;
  padding-top: 60px;
  text-align: center;
  position: relative;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.footer-contacts .social {
  margin-bottom: 30px;
}

.footer-contacts address {
  font-family: 'GothamPro-Black';
  padding: 0 60px;
  font-size: 1.25em;
}

.footer-contacts .phones {
  color: #fff;
  margin-bottom: 20px;
}

.footer-contacts .phones a {
  color: #fff;
}

.footer-contacts .email {
  color: #d12c3a;
  margin-right: 35px;
}

.footer-contacts .location {
  font-size: 0.7em;
  color: #acacac;
  font-family: 'Raleway-Regular';
}

.footer-contacts .btn-3 {
  margin-top: 35px;
}

/*------------
			SVG
-------------*/

/*svg-seo*/

.svg-seo .st0 {
  display: none;
}

.svg-seo .st1 {
  display: inline;
  fill: #F4F4F4;
}

.svg-seo .st2 {
  display: none;
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st3 {
  display: none;
  fill: none;
  stroke: #FF0000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st4 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.941;
  stroke-miterlimit: 10;
}

.svg-seo .st5 {
  fill: none;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-seo .st6 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.8437;
  stroke-miterlimit: 10;
}

.svg-seo .st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st8 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st9 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 11,5;
}

.svg-seo .st10 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st11 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.7721;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st12 {
  fill: #E5E6E4;
}

.svg-seo .st13 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st14 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-miterlimit: 10;
}

.svg-seo .st15 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st16 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-miterlimit: 10;
}

.svg-seo .st17 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st18 {
  fill: #333333;
}

.svg-seo .st19 {
  fill: none;
  stroke: #333333;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-seo .st20 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-seo .st21 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-seo .st22 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st23 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-seo .st24 {
  fill: none;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-seo .st25 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st26 {
  fill: #D12C3A;
}

.svg-seo .st27 {
  fill: #D12C3A;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-seo .st28 {
  fill: none;
  stroke: #D12C3A;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-seo .st29 {
  fill: none;
  stroke: #D12C3A;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-seo .st30 {
  fill: #FFFFFF;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-seo .st31 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*svg-cup*/

.svg-cup .st0 {
  display: none;
}

.svg-cup .st1 {
  display: inline;
  fill: #F4F4F4;
}

.svg-cup .st2 {
  display: none;
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st3 {
  display: none;
  fill: none;
  stroke: #FF0000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st4 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.941;
  stroke-miterlimit: 10;
}

.svg-cup .st5 {
  fill: none;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-cup .st6 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.8437;
  stroke-miterlimit: 10;
}

.svg-cup .st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st8 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st9 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 11,5;
}

.svg-cup .st10 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st11 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.7721;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st12 {
  fill: #E5E6E4;
}

.svg-cup .st13 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st14 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-miterlimit: 10;
}

.svg-cup .st15 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st16 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-miterlimit: 10;
}

.svg-cup .st17 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st18 {
  fill: #333333;
}

.svg-cup .st19 {
  fill: none;
  stroke: #333333;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-cup .st20 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-cup .st21 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-cup .st22 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st23 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-cup .st24 {
  fill: none;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-cup .st25 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st26 {
  fill: #D12C3A;
}

.svg-cup .st27 {
  fill: #D12C3A;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-cup .st28 {
  fill: none;
  stroke: #D12C3A;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-cup .st29 {
  fill: none;
  stroke: #D12C3A;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-cup .st30 {
  fill: #FFFFFF;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-cup .st31 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*svg-brand*/

.svg-brand .st0 {
  display: none;
}

.svg-brand .st1 {
  display: inline;
  fill: #F4F4F4;
}

.svg-brand .st2 {
  display: none;
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st3 {
  display: none;
  fill: none;
  stroke: #FF0000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st4 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.941;
  stroke-miterlimit: 10;
}

.svg-brand .st5 {
  fill: none;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-brand .st6 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.8437;
  stroke-miterlimit: 10;
}

.svg-brand .st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st8 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st9 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 11,5;
}

.svg-brand .st10 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st11 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.7721;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st12 {
  fill: #E5E6E4;
}

.svg-brand .st13 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st14 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-miterlimit: 10;
}

.svg-brand .st15 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st16 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-miterlimit: 10;
}

.svg-brand .st17 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st18 {
  fill: #333333;
}

.svg-brand .st19 {
  fill: none;
  stroke: #333333;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-brand .st20 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-brand .st21 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-brand .st22 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st23 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-brand .st24 {
  fill: none;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-brand .st25 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st26 {
  fill: #D12C3A;
}

.svg-brand .st27 {
  fill: #D12C3A;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-brand .st28 {
  fill: none;
  stroke: #D12C3A;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-brand .st29 {
  fill: none;
  stroke: #D12C3A;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-brand .st30 {
  fill: #FFFFFF;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-brand .st31 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*svg-proj*/

.svg-proj .st0 {
  display: none;
}

.svg-proj .st1 {
  display: inline;
  fill: #F4F4F4;
}

.svg-proj .st2 {
  display: none;
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st3 {
  display: none;
  fill: none;
  stroke: #FF0000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st4 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.941;
  stroke-miterlimit: 10;
}

.svg-proj .st5 {
  fill: none;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-proj .st6 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.8437;
  stroke-miterlimit: 10;
}

.svg-proj .st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st8 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st9 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 11,5;
}

.svg-proj .st10 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st11 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.7721;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st12 {
  fill: #E5E6E4;
}

.svg-proj .st13 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st14 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-miterlimit: 10;
}

.svg-proj .st15 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st16 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-miterlimit: 10;
}

.svg-proj .st17 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st18 {
  fill: #333333;
}

.svg-proj .st19 {
  fill: none;
  stroke: #333333;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-proj .st20 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-proj .st21 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-proj .st22 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st23 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-proj .st24 {
  fill: none;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-proj .st25 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st26 {
  fill: #D12C3A;
}

.svg-proj .st27 {
  fill: #D12C3A;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-proj .st28 {
  fill: none;
  stroke: #D12C3A;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-proj .st29 {
  fill: none;
  stroke: #D12C3A;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-proj .st30 {
  fill: #FFFFFF;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-proj .st31 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*.svg-startup*/

.svg-startup .st0 {
  display: none;
}

.svg-startup .st1 {
  display: inline;
  fill: #F4F4F4;
}

.svg-startup .st2 {
  display: none;
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st3 {
  display: none;
  fill: none;
  stroke: #FF0000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st4 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.941;
  stroke-miterlimit: 10;
}

.svg-startup .st5 {
  fill: none;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-startup .st6 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.8437;
  stroke-miterlimit: 10;
}

.svg-startup .st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st8 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st9 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 11,5;
}

.svg-startup .st10 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st11 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.7721;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st12 {
  fill: #E5E6E4;
}

.svg-startup .st13 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st14 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-miterlimit: 10;
}

.svg-startup .st15 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st16 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-miterlimit: 10;
}

.svg-startup .st17 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st18 {
  fill: #333333;
}

.svg-startup .st19 {
  fill: none;
  stroke: #333333;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-startup .st20 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-startup .st21 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-startup .st22 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st23 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-startup .st24 {
  fill: none;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-startup .st25 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st26 {
  fill: #D12C3A;
}

.svg-startup .st27 {
  fill: #D12C3A;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-startup .st28 {
  fill: none;
  stroke: #D12C3A;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-startup .st29 {
  fill: none;
  stroke: #D12C3A;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-startup .st30 {
  fill: #FFFFFF;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-startup .st31 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*svg-team*/

.svg-team .st0 {
  display: none;
}

.svg-team .st1 {
  display: inline;
  fill: #F4F4F4;
}

.svg-team .st2 {
  display: none;
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st3 {
  display: none;
  fill: none;
  stroke: #FF0000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st4 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.941;
  stroke-miterlimit: 10;
}

.svg-team .st5 {
  fill: none;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-team .st6 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.8437;
  stroke-miterlimit: 10;
}

.svg-team .st7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st8 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st9 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 11,5;
}

.svg-team .st10 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st11 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.7721;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st12 {
  fill: #E5E6E4;
}

.svg-team .st13 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st14 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9066;
  stroke-miterlimit: 10;
}

.svg-team .st15 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.9066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st16 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-miterlimit: 10;
}

.svg-team .st17 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.9012;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st18 {
  fill: #333333;
}

.svg-team .st19 {
  fill: none;
  stroke: #333333;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-team .st20 {
  fill: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-team .st21 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-miterlimit: 10;
}

.svg-team .st22 {
  fill: #FFFFFF;
  stroke: #333333;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st23 {
  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-team .st24 {
  fill: none;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-team .st25 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st26 {
  fill: #D12C3A;
}

.svg-team .st27 {
  fill: #D12C3A;
  stroke: #D12C3A;
  stroke-miterlimit: 10;
}

.svg-team .st28 {
  fill: none;
  stroke: #D12C3A;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-team .st29 {
  fill: none;
  stroke: #D12C3A;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.svg-team .st30 {
  fill: #FFFFFF;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg-team .st31 {
  fill: none;
  stroke: #D12C3A;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
/*------------------------------
	RESPONSIVE min-width: 1900px
-------------------------------*/

@media only screen and (min-width: 1900px) {
  /*COMMON STYLES*/

  h2 {
    font-size: 1.7em;
  }

  /*===== MAIN-PAGE 1900px =====*/

  /*MAIN*/

  .main h2 {
    margin-top: 41vh;
  }

  /*===== CONTACT-PAGE 1900px =====*/

  .contacts .container {
    padding-top: 25vh;
  }

  /*===== ABOUT-US-PAGE-PAGE 1900px =====*/

  /*OUR-SEVISES*/

  .our-sevises {
    padding-top: 28vh;
  }
}

/*------------------------------
	RESPONSIVE max-width: 1440px
-------------------------------*/

@media only screen and (max-width: 1440px) {
  /*ACTIVE-MENU*/

  .menu-wrap {
    padding-top: 7%;
  }

  .menu-wrap address {
    position: static;
    margin-top: 15%;
  }

  .menu-wrap address .lang {
    margin-top: 20%;
  }

  .menu-wrap .social-list {
    margin-top: 15%;
  }
}

/*------------------------------
	RESPONSIVE max-width: 1320px
-------------------------------*/

@media only screen and (max-width: 1320px) {
  /*===== MAIN-PAGE	1320px =====*/

  /*MAIN*/

  .title {
    padding-left: 80px;
    padding-right: 80px;
  }

  /*ACTIVE-MENU*/

  .active-menu .container {
    padding-top: 280px;
  }

  .active-menu .nav li {
    margin-left: 65px;
  }

  .active-menu address {
    padding-right: 70px;
  }

  .best-works {
    display: none;
  }

  /*====== PORTFOLIO-PAGE 1320px ======*/

  .portfolio {
    background: #f5f5f5;
  }

  .portfolio .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .work {
    width: 46%;
    margin: 0 2% 40px;
  }

  .work img {
    max-width: 440px;
  }

  /*====== CONTACTS-PAGE 1320px =====*/

  .contacts .map-wrap {
    top: 15vh;
    width: 50%;
  }

  .contacts .container {
    padding-top: 20vh;
  }

  .address-info .title {
    padding: 0;
  }

  .feed-back {
    padding: 0;
  }

  .buttons-wrap {
    padding: 0 15px;
  }

  /*====== ABOUT-US-PAGE 1320px =====*/

  /*ABOUT-US*/

  .about-us .text {
    padding-left: 20px;
  }

  /*OUR-SEVISES*/

  .our-sevises {
    position: relative;
    padding-top: 90px;
  }

  .our-sevises h2 {
    margin-left: 20px;
  }

  .our-sevises h4 {
    max-width: 160px;
    margin: auto;
  }

  .our-sevises .service {
    display: block;
    width: 50%;
    float: left;
    margin: 0 0 35px;
  }

  .our-sevises .svc-icons-wrap {
    width: 42%;
  }

  .our-sevises .svc-text {
    padding: 150px 20px 0 12%;
    width: 58%;
  }

  .our-sevises .svc-text .title {
    padding: 0;
  }

  /*ABOUT-WORK*/

  .about-work {
    padding-bottom: 120px;
  }

  .about-work h2 {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .about-work p {
    margin-bottom: 15px;
  }

  /*OUR-CLIENTS*/

  .our-clients {
    padding-bottom: 50px;
  }

  .our-clients figure {
    width: 33%;
  }
}

/*------------------------------
	RESPONSIVE max-width: 1020px
-------------------------------*/

@media only screen and (max-width: 1020px) {
  .viewport:before {
    display: none;
  }

  /*===== MAIN-PAGE	1020px =====*/

  /*MAIN*/

  .main .title {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40vh;
  }

  .main h1 {
    font-size: 3.75em;
    margin-top: 10px;
  }

  .main .subtitle {
    padding-right: 17%;
  }

  /*COMMON-MENU*/

  /*PORTFOLIO*/

  .portfolio .container {
    padding-top: 0;
  }

  .portfolio h2 {
    font-size: 1.5em;
    max-width: 530px;
  }

  .tags {
    margin-top: 120px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .tags a {
    margin: 0;
    margin-right: 70px;
  }

  .work {
    width: auto;
    max-width: 100%;
    margin: 0 20px 40px;
  }

  .work img {
    max-width: none;
    width: 100%;
  }

  /*ACTIVE-MENU*/

  .active-menu .container {
    padding-top: 200px;
  }

  .active-menu .nav {
    text-align: center;
    padding-left: 15px;
  }

  .active-menu .nav li {
    margin-left: 0;
  }

  .active-menu address {
    text-align: center;
    padding-right: 15px;
    margin-top: 120px;
  }

  .active-menu .btn-1 {
    margin: 60px 0 50px;
  }

  .active-menu .social {
    display: block;
    text-align: center;
  }

  .active-menu .lang {
    display: block;
    text-align: center;
    margin: 40px 0 0;
  }

  /*====== CONTACTS-PAGE 1020px =====*/

  .contacts address {
    bottom: 3vh;
  }

  .contacts .social {
    margin-bottom: 8vh;
  }

  .address-info {
    display: inline-block;
    width: 33%;
    padding: 0 15px;
  }

  .address-info:nth-child(2) {
    width: 90%;
    margin-bottom: 15px;
  }

  /*====== ABOUT-US-PAGE 1020px =====*/

  /*ABOUT-US*/

  .about-us h2 {
    max-width: auto;
    width: 75%;
  }

  .about-us h2 .br {
    display: inline-block;
  }

  .about-us .subtitle {
    width: 70%;
  }

  .about-us .scroll-but {
    margin-left: -100px;
  }

  /*OUR-SEVISES*/

  .our-sevises {
    padding-bottom: 110px;
  }

  .our-sevises h2 {
    margin-bottom: 60px;
  }

  .our-sevises .svc-text {
    width: 100%;
    padding: 30px 20px 0 20px;
  }

  .our-sevises .svc-icons-wrap {
    width: 75%;
    margin: 0 auto;
    float: none;
  }

  /*ABOUT-WORK*/

  .about-work {
    padding: 90px 20px 90px;
  }

  .about-work .work-txt {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*OUR-CLIENTS*/

  .our-clients {
    padding-bottom: 20px;
  }

  .our-clients figure {
    width: 33%;
    margin-bottom: 60px;
  }
}

/*------------------------------
	RESPONSIVE max-width: 780px
-------------------------------*/

@media only screen and (max-width: 780px) {
  .btn-1 {
    height: 40px;
    line-height: 40px;
    font-size: 0.813em;
    padding: 0 22px;
  }

  /*===== MAIN-PAGE	780px =====*/

  /*COMMON-MENU*/

  .main-logo {
    left: 4%;
  }

  .menu-button {
    right: 4.5%;
    top: 40px;
  }

  /*ACTIVE-MENU*/

  .menu-wrap {
    padding-top: 70px;
    padding-left: 20px;
  }

  .menu-wrap .social-list {
    margin: 0;
  }

  .menu-wrap address {
    position: static;
    margin-top: 30px;
  }

  .menu-wrap address .email {
    margin-top: 5px;
  }

  .menu-wrap address .lang {
    margin-top: 50px;
  }

  .close-button {
    top: 30px;
    right: 20px;
  }

  /*MAIN*/

  .main .title {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35vh;
  }

  .main .subtitle {
    padding-right: 10px;
    font-size: 1.25em;
  }

  .main h1 {
    font-size: 2.375em;
  }

  .main .scroll-but {
    display: none;
  }

  /*PORTFOLIO*/

  .portfolio .container {
    padding: 0 10px;
  }

  .portfolio h2 {
    font-size: 1.125em;
  }

  .portfolio .tags {
    margin-top: 100px;
    margin-bottom: 35px;
    padding-left: 10px;
  }

  .portfolio .tags a {
    margin: 0;
    margin-right: 30px;
  }

  .portfolio .tags a:last-child {
    margin: 0;
  }

  .work {
    margin: 0 10px 20px;
  }

  .work-item {
    margin: 0 0 20px;
  }

  /*===== CONTACTS-PAGE	780px =====*/

  .contacts .container {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .contacts h2 {
    font-size: 1.31em;
  }

  .contacts .social {
    margin-bottom: 30px;
  }

  .contacts .social a {
    margin: 0 10px;
  }

  .contacts .social:before,
  .contacts .social:after {
    display: none;
  }

  .contacts address {
    position: static;
    padding-top: 5vh;
  }

  .contacts .map-wrap {
    display: none;
  }

  .input-effect {
    margin-bottom: 40px;
  }

  .feed-back .textarea {
    margin-bottom: 50px;
  }

  .feed-back .btn-2 {
    display: block;
    margin: 0 auto;
  }

  .feed-back .buttons-wrap {
    padding: 0 10px;
    text-align: center;
  }

  .feed-back .upload-btn {
    margin-left: 30px;
    margin-top: 20px;
  }

  .address-info {
    width: auto;
    display: block;
    padding: 0 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .address-info:nth-child(2) {
    width: auto;
  }

  .address-info:last-child {
    min-height: none;
  }

  .address-info:last-child span {
    margin-top: 0px;
  }

  /*====== ABOUT-US-PAGE 780px =====*/

  /*ABOUT-US*/

  .about-us {
    padding: 100px 0 50px;
  }

  .about-us .text {
    padding-left: 10px;
  }

  .about-us p {
    font-size: 1.125em;
  }

  .about-us h2 {
    width: auto;
    font-size: 1.5em;
    margin-top: 10vh;
  }

  .about-us .subtitle {
    font-size: 0.875em;
    width: auto;
    padding: 0 10px;
  }

  .about-us .scroll-but {
    font-size: 0.75em;
    min-width: 190px;
  }

  /*OUR-SEVISES*/

  .our-sevises {
    padding-top: 50px;
    min-height: auto;
    height: auto;
  }

  .our-sevises .service {
    margin-bottom: 60px;
  }

  .our-sevises .svc-text {
    width: auto;
    margin: 0;
    min-height: auto;
    padding: 0 10px 20px;
  }

  .our-sevises .svc-text h2 {
    margin-bottom: 10px;
    font-size: 1.3em;
  }

  .our-sevises .svc-icons-wrap {
    position: static;
    width: auto;
    min-height: auto;
  }

  /*ABOUT-WORK*/

  .about-work h2 {
    padding: 0 10px;
    margin: 0 0 15px;
    font-size: 1.3em;
  }

  .about-work .work-txt {
    margin: 0;
    padding: 0 10px;
  }

  /*OUR-CLIENTS*/

  .our-clients {
    padding-bottom: 0;
  }

  .our-clients h2 {
    font-size: 1.3em;
  }

  .our-clients .subtitle {
    max-width: 100%;
    padding: 0 10px;
  }

  .our-clients figure {
    width: 50%;
  }

  /*FOOTER*/

  .footer {
    padding-bottom: 50px;
  }

  .footer-contacts {
    width: 90%;
    padding-top: 50px;
  }

  .footer-contacts .social a {
    margin: 0 10px;
  }

  .footer-contacts address {
    padding: 0 10px;
  }

  .footer-contacts .email {
    margin-right: 0;
    display: block;
  }

  .footer-contacts .btn-3 svg {
    margin-left: 10px;
  }
}

/*------------------------------
	RESPONSIVE max-width: 449px
-------------------------------*/

@media only screen and (max-width: 449px) {
  /*===== MAIN-PAGE	449px =====*/

  /*MAIN*/

  .main h2 {
    font-size: 1.125em;
    margin-top: 33vh;
  }

  /*PORTFOLIO*/

  .title-wrap {
    padding: 10px 15px;
    padding-right: 50px;
    font-size: 0.75em;
  }

  .title-wrap:after {
    top: 10px;
    right: 10px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  /*====== ABOUT-US-PAGE 449px =====*/

  /*ABOUT-US*/

  .about-us h2 {
    margin-top: 30px;
  }

  .about-us p {
    font-size: 0.875em;
  }

  .our-sevises {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .our-sevises h2 {
    margin-left: 10px;
  }

  .our-sevises .service {
    width: 160px;
    margin-left: 10%;
    float: none;
  }

  .our-sevises .svc-text .title {
    font-size: 1.55em;
  }

  .our-sevises .svc-text p {
    font-size: 0.875em;
  }

  .about-work {
    padding: 70px 0px 60px;
  }

  .about-work p {
    font-size: 0.875em;
  }

  .our-clients {
    padding: 40px 0 0;
  }

  .our-clients .subtitle {
    font-size: 0.875em;
    margin-bottom: 40px;
  }

  .our-clients figure {
    width: 100%;
    margin-bottom: 50px;
  }
}