{% extends "main.twig" %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

<body id="div">

  {% include "google-tag.twig" %}

  {% include "header-menu.twig" %}

  <main class="viewport animsition">

    <!-- ABOUT-US -->

    <div class="about-us clear" id="aboutUs">
      <div class="container">
        <section class="text col-lg-10 col-md-12">
          <h2>О компании</h2>
          <p>Belka-Z — украинская digatal-студия полного цикла, с большим опытом в создании сайтов, digital-коммуникации и брендинга. Главный офис студии находится в городе Чернигове.</p>
          <p>Мы делаем сайты разного уровня сложности, помогаем разрабатывать стартапы, предоставляем команду на аутсорс разработку, а так же занимаемся созданием  фирменных стилей. </p>
          <p>Готовые продукты не бросаем, а предлагаем поддержку: вдруг вам понадобится сделать презентацию или добавить на сайт раздел. </p>
          <p>С нами легко. Мы предлагаем только те решения, в пользе которых уверены.</p>
        </section>
      </div>
    </div><!-- end main -->

    <!-- OUR-SEVISES -->

    <article class="our-sevises" id="ourSevise">
      <div class="container clear">
        <h2>Услуги</h2>
        <div class="svc-icons-wrap">
          <section class="service">
            <!-- svg-proj -->
            <svg class="svg-proj" id="svgProj" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.05 61"><title>svg-proj</title><g><g><g><polyline class="st24" points="6.2,44 0.5,44 0.5,0.5 99.5,0.5 99.5,44 33.4,44 "/><path class="st25" d="M41.8,59.7c0-4.6,3.7-8.3,8.3-8.3c3,0,5.6,1.6,7,3.9"/><g><line class="st25" x1="47.5" y1="51.7" x2="47.5" y2="44.3"/><line class="st25" x1="52.6" y1="51.7" x2="52.6" y2="44.3"/></g></g><g><path class="st26" d="M31,12.6c0,0.6-0.5,1.1-1.1,1.1H7.3c-0.6,0-1.1-0.5-1.1-1.1V4.8c0-0.6,0.5-1.1,1.1-1.1h22.6c0.6,0,1.1,0.5,1.1,1.1V12.6z"/><path class="st24" d="M31,12.6c0,0.6-0.5,1.1-1.1,1.1H7.3c-0.6,0-1.1-0.5-1.1-1.1V4.8c0-0.6,0.5-1.1,1.1-1.1h22.6c0.6,0,1.1,0.5,1.1,1.1V12.6z"/></g><g><path class="st26" d="M62.4,12.6c0,0.6-0.5,1.1-1.1,1.1H38.7c-0.6,0-1.1-0.5-1.1-1.1V4.8c0-0.6,0.5-1.1,1.1-1.1h22.6c0.6,0,1.1,0.5,1.1,1.1V12.6z"/><path class="st24" d="M62.4,12.6c0,0.6-0.5,1.1-1.1,1.1H38.7c-0.6,0-1.1-0.5-1.1-1.1V4.8c0-0.6,0.5-1.1,1.1-1.1h22.6c0.6,0,1.1,0.5,1.1,1.1V12.6z"/></g><g><path class="st26" d="M93.8,12.6c0,0.6-0.5,1.1-1.1,1.1H70.1c-0.6,0-1.1-0.5-1.1-1.1V4.8c0-0.6,0.5-1.1,1.1-1.1h22.6c0.6,0,1.1,0.5,1.1,1.1V12.6z"/><path class="st24" d="M93.8,12.6c0,0.6-0.5,1.1-1.1,1.1H70.1c-0.6,0-1.1-0.5-1.1-1.1V4.8c0-0.6,0.5-1.1,1.1-1.1h22.6c0.6,0,1.1,0.5,1.1,1.1V12.6z"/></g><g><path class="st26" d="M93.8,36.3c0,1.3-1,2.3-2.3,2.3H40c-1.3,0-2.3-1-2.3-2.3v-16c0-1.3,1-2.3,2.3-2.3h51.5c1.3,0,2.3,1,2.3,2.3V36.3z"/><path class="st24" d="M93.8,36.3c0,1.3-1,2.3-2.3,2.3H40c-1.3,0-2.3-1-2.3-2.3v-16c0-1.3,1-2.3,2.3-2.3h51.5c1.3,0,2.3,1,2.3,2.3V36.3z"/></g><path class="st27" d="M31,21.5v-2c0-0.8-0.8-1.5-1.7-1.5H7.9c-0.9,0-1.7,0.7-1.7,1.5v2H31z"/><polyline class="st25" points="33.4,53.9 33.4,60.3 6.2,60.3 6.2,21.9 33.4,21.9 33.4,47.3 "/><g><g><path class="st26" d="M29.7,32.9c0,0.5-0.4,1-1,1H10.8c-0.5,0-1-0.4-1-1v-8c0-0.5,0.4-1,1-1h17.9c0.5,0,1,0.4,1,1V32.9z"/><path class="st24" d="M29.7,32.9c0,0.5-0.4,1-1,1H10.8c-0.5,0-1-0.4-1-1v-8c0-0.5,0.4-1,1-1h17.9c0.5,0,1,0.4,1,1V32.9z"/></g><g><path class="st26" d="M29.7,44.8c0,0.5-0.4,1-1,1H10.8c-0.5,0-1-0.4-1-1v-8c0-0.5,0.4-1,1-1h17.9c0.5,0,1,0.4,1,1V44.8z"/><path class="st24" d="M29.7,44.8c0,0.5-0.4,1-1,1H10.8c-0.5,0-1-0.4-1-1v-8c0-0.5,0.4-1,1-1h17.9c0.5,0,1,0.4,1,1V44.8z"/></g><g><path class="st26" d="M29.7,56.1c0,0.5-0.4,0.9-0.9,0.9h-18c-0.5,0-0.9-0.4-0.9-0.9v-6.9c0-0.5,0.4-0.9,0.9-0.9h18c0.5,0,0.9,0.4,0.9,0.9V56.1z"/><path class="st24" d="M29.7,56.1c0,0.5-0.4,0.9-0.9,0.9h-18c-0.5,0-0.9-0.4-0.9-0.9v-6.9c0-0.5,0.4-0.9,0.9-0.9h18c0.5,0,0.9,0.4,0.9,0.9V56.1z"/></g></g><line class="st25" x1="6.2" y1="57" x2="33.4" y2="57"/><g><g><path class="st26" d="M91.1,57.1c0,0.5-0.4,0.9-0.9,0.9H72.2c-0.5,0-0.9-0.4-0.9-0.9v-6.5c0-0.5,0.4-0.9,0.9-0.9h18.1c0.5,0,0.9,0.4,0.9,0.9V57.1z"/><path class="st24" d="M91.1,57.1c0,0.5-0.4,0.9-0.9,0.9H72.2c-0.5,0-0.9-0.4-0.9-0.9v-6.5c0-0.5,0.4-0.9,0.9-0.9h18.1c0.5,0,0.9,0.4,0.9,0.9V57.1z"/></g><polyline class="st25" points="77.5,47.3 94.6,47.3 94.6,60.5 64.9,60.5 64.9,47.3 70.3,47.3 "/><line class="st25" x1="68.2" y1="47.3" x2="68.2" y2="60.5"/></g></g></g></svg>
            <h4>web - проекты</h4>
          </section>

          <section class="service">
            <!-- svg-startup -->
            <svg class="svg-startup" id="svgStartup" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.6 61"><title>svg-startup</title><g id="Разработка_стартапов_2_"><g id="Startups_2_"><g><g><path class="st24" d="M26.4,10.9l0.1-1.4c0-3.5,2.4-8.9,5.3-8.9h0c2.9,0,5.3,5.4,5.3,8.9l0.1,1.4"/><path class="st24" d="M27.3,47.4v2.4c0,0.6-0.5,1-1,1h-3.2c-0.6,0-1-0.5-1-1v-4.7"/><path class="st25" d="M22.1,22v-4.3c0-3.9,1.2-9.9,2.6-9.9h0c1.4,0,2.6,6,2.6,9.9v1.6"/><line class="st25" x1="22.1" y1="34" x2="22.1" y2="26.9"/><path class="st24" d="M41.4,45.1v4.7c0,0.6-0.5,1-1,1h-3.2c-0.6,0-1-0.5-1-1v-2.4"/><path class="st24" d="M36.2,19.4v-1.6c0-3.9,1.2-9.9,2.6-9.9h0c1.4,0,2.6,6,2.6,9.9V34"/><path class="st24" d="M33,50.5c1.1-0.2,2.4-0.8,2.9-1.2c0.7-0.5-0.3-1.6,1-2.9s8.5-1.8,9.9-2.3s0.8-3.3,0.5-4.3c-0.3-1-7.8-7.4-8.8-8.7S34.9,5.3,31.8,5.3S26,29.9,25,31.2s-8.5,7.7-8.8,8.7c-0.3,1-0.8,3.7,0.5,4.3s8.7,1.1,9.9,2.3c1.2,1.2,0.3,2.3,1,2.9c0.5,0.4,1.7,0.9,2.9,1.1"/><g><path class="st26" d="M31.8,20.2c-0.9,0-1.6-0.7-1.6-1.6c0-1.5,1-6.3,1.7-6.6c0.6,0.3,1.6,5.1,1.6,6.6C33.4,19.5,32.7,20.2,31.8,20.2z"/><path class="st26" d="M31.8,12.9c0.6,1.4,1.1,4.6,1.1,5.6c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C30.6,17.5,31.2,14.4,31.8,12.9 M31.8,11.4c-1.2,0-2.1,5.9-2.1,7.1c0,1.2,1,2.1,2.1,2.1c1.2,0,2.1-1,2.1-2.1C33.9,17.4,32.9,11.4,31.8,11.4L31.8,11.4z"/></g><path class="st28" d="M31.8,51.8L31.8,51.8c-0.7,0-1.3-0.6-1.3-1.3l1.3-19.2l0,0L33,49.7C33.1,51.2,32.5,51.8,31.8,51.8z"/><line class="st25" x1="32.9" y1="48" x2="36.2" y2="48"/><line class="st25" x1="27.4" y1="48" x2="30.7" y2="48"/><line class="st25" x1="22.1" y1="47.6" x2="27.3" y2="49.8"/><line class="st25" x1="41.4" y1="47.6" x2="36.2" y2="49.7"/></g><path class="st25" d="M29.2,52.8c0,0-0.7,7-3.9,7.7"/><path class="st25" d="M34.6,52.9c1.2,2.1,3.3,6.4,9.1,6.5"/><path class="st25" d="M19,47.8c-0.8-1-2.1-1.6-3.5-1.6c-1.9,0-3.6,1.2-4.3,2.9c-0.3,0-0.5-0.1-0.8-0.1c-1,0-1.9,0.3-2.7,0.9c-0.8-0.5-1.7-0.9-2.7-0.9c-2.6,0-4.6,2.1-4.6,4.6c0,0.6,0.1,1.1,0.3,1.6"/><path class="st25" d="M61,53.2c0.3-1.5-0.4-3-1.8-3.8c-0.7-0.4-1.5-0.6-2.2-0.5c-0.3-0.7-0.8-1.3-1.5-1.7c-1.3-0.8-3-0.6-4.2,0.3c-0.2-0.1-0.3-0.3-0.5-0.4c-1.8-1-4-0.5-5.1,1.3c-0.5,0.8-0.6,1.7-0.5,2.6"/><path class="st25" d="M7.1,59.6c-0.7-3.1,1.2-6.3,4.3-7.1s6.3,1.2,7.1,4.3"/><path class="st25" d="M58.3,57.4c0-2.7-2.2-4.8-4.8-4.8c-2.1,0-3.9,1.4-4.5,3.2c-0.3-0.3-0.7-0.5-1.2-0.5c-0.9,0-1.6,0.7-1.6,1.6"/></g><line class="st29" x1="9.8" y1="10.5" x2="9.8" y2="13.6"/><line class="st29" x1="8.2" y1="12.1" x2="11.3" y2="12.1"/><line class="st29" x1="53.7" y1="29.5" x2="53.7" y2="33.6"/><line class="st29" x1="51.6" y1="31.6" x2="55.8" y2="31.6"/></g></g></svg>
            <h4>Разработка стартапов</h4>
          </section>

          <section class="service">
            <!-- svg-seo -->
            <svg class="svg-seo" id="svg-seo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.38 61"><title>SEO</title><g><path class="st27" d="M15.4,48.2H7.9v-6.3c0-0.3,0.2-0.5,0.5-0.5h6.5c0.3,0,0.5,0.2,0.5,0.5V48.2z"/><path class="st27" d="M30.3,48.2h-7.5V35.4c0-0.4,0.3-0.7,0.7-0.7h6.2c0.4,0,0.7,0.3,0.7,0.7V48.2z"/><path class="st27" d="M45.3,48.2h-7.5V28.7c0-0.5,0.4-0.8,0.8-0.8h5.9c0.5,0,0.8,0.4,0.8,0.8V48.2z"/><path class="st27" d="M60.3,48.2h-7.5V22.1c0-0.5,0.4-0.9,0.9-0.9h5.6c0.5,0,0.9,0.4,0.9,0.9V48.2z"/><polyline class="st25" points="58.9,14.5 67.9,14.5 67.9,48.2 0.5,48.2 0.5,42.8 "/><polyline class="st25" points="0.5,30.8 0.5,14.5 53.6,14.5 "/><circle class="st24" cx="11.2" cy="36.5" r="2.6"/><circle class="st24" cx="26.6" cy="28.9" r="2.6"/><circle class="st24" cx="41.6" cy="21.5" r="2.6"/><circle class="st24" cx="56.3" cy="14.5" r="2.6"/><line class="st30" x1="2.2" y1="36.9" x2="8.6" y2="36.7"/><line class="st24" x1="13.9" y1="36.2" x2="24" y2="29.5"/><line class="st24" x1="28.9" y1="27.7" x2="39.4" y2="22.9"/><line class="st24" x1="43.9" y1="20.3" x2="54.1" y2="15.9"/><line class="st25" x1="56.3" y1="0.5" x2="56.3" y2="11.8"/><polyline class="st31" points="54.3,3.2 56.3,0.5 58.3,3.3 "/><polyline class="st24" points="54.2,48.2 54.2,51.7 14.2,51.7 14.2,48.2 "/><line class="st25" x1="34.2" y1="49.7" x2="34.2" y2="57.2"/><path class="st24" d="M3.6,14.5c0.4-2.8,2.8-5,5.7-5h49.5c2.9,0,5.3,2.2,5.7,5"/><circle class="st25" cx="34.2" cy="58.9" r="1.6"/></g></svg>
            <h4>Продвижение Сайтов</h4>
          </section>

          <section class="service">
            <!-- svg-cup -->
            <svg class="svg-cup" id="svg-cup" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.23 60"><title>Cup</title><g><path class="st27" d="M45.4,48.3c-3.7,6.3-10.4,10.5-18,10.5h-5.9c-11.6,0-21-9.7-21-21.6v2.3h47.9v-2.3C48.4,41.2,47.3,45,45.4,48.3"/><path class="st25" d="M48.4,30.6v-8.7H0.5v15.9c0,11.6,9.4,21,21,21h5.9c7.7,0,14.4-4.1,18-10.2c1.9-3.2,3-6.8,3-10.8"/><line class="st25" x1="3.6" y1="17.5" x2="3.6" y2="1.6"/><line class="st25" x1="16.9" y1="2" x2="16.9" y2="18.3"/><line class="st25" x1="36.9" y1="0.8" x2="36.9" y2="17.1"/><line class="st25" x1="30.2" y1="17.5" x2="30.2" y2="0"/><line class="st25" x1="43.5" y1="11.9" x2="43.5" y2="5.8"/><line class="st25" x1="10.3" y1="13.1" x2="10.3" y2="7.1"/><line class="st25" x1="23.6" y1="17.9" x2="23.6" y2="11.9"/><path class="st24" d="M48.1,25.3L48.1,25.3c4.8,0,8.7,3.9,8.7,8.7v0c0,4.8-3.9,8.7-8.7,8.7h0"/><path class="st25" d="M54.4,34c0,2.1-1.7,3.8-3.8,3.8h0"/><path class="st25" d="M3.6,26.1c0,3.2-0.4,13.4,0.5,15.3"/><line class="st25" x1="9.5" y1="60" x2="39.8" y2="60"/></g></svg>
            <h4>поддержка сайтов</h4>
          </section>
          <section class="service">

            <!-- svg-team -->
            <svg class="svg-team" id="svg-team" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.48 60.94"><title>svg-team</title><g><path class="st24" d="M9.7,54.5c-0.8-3-1.7-6-1.7-6s-5.3-1-5.8-2.8C-2.1,32.3,2,16.8,14.4,7.4c13.4-10.2,32.7-9,44.9,2.7c13,12.4,14.2,32.2,3.9,45.9c-0.7,1-3.5,1.5-3.5,1.5s0.1,1.5-0.6,3L9.7,54.5z"/><ellipse transform="matrix(0.9325 -0.3612 0.3612 0.9325 -10.5475 9.8892)" class="st24" cx="21.2" cy="33.2" rx="9.1" ry="9.1"/><path class="st27" d="M27.6,30.7c-1.4-3.5-5.4-5.3-8.9-3.9s-5.3,5.4-3.9,8.9c1.4,3.5,5.4,5.3,8.9,3.9S29,34.2,27.6,30.7z M23,37.8c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4-0.1-0.5-0.3c-0.1-0.3,0-0.5,0.3-0.6c2-0.8,3.1-3.1,2.3-5.1s-3.1-3.1-5.1-2.3c-2,0.8-3.1,3.1-2.3,5.1c0.1,0.3,0,0.5-0.3,0.6c-0.3,0.1-0.5,0-0.6-0.3c-1-2.6,0.3-5.4,2.8-6.4c2.6-1,5.4,0.3,6.4,2.8C26.8,33.9,25.5,36.8,23,37.8z"/><line class="st24" x1="17.9" y1="24.7" x2="0.5" y2="31.4"/><line class="st24" x1="17.9" y1="41.6" x2="0.5" y2="37.2"/><g><path class="st25" d="M36.1,17.5l-3.5,3.3c-0.6,0.6-0.9,1.6-0.6,2.4l6.1,17.5c0.3,0.8,1.2,1.5,2,1.6l28.2,4.2"/></g><g><line class="st25" x1="50.5" y1="4" x2="42.1" y2="11.8"/></g><path class="st25" d="M52.5,9c0,0,14.2,8.2,13.5,31.1"/><path class="st25" d="M21.5,50.3l10.8-1.2c1.1-0.1,1.5-1.6,0.5-2.2l-8.3-5.3"/><line class="st25" x1="8.9" y1="51.7" x2="16.7" y2="50.9"/></g></svg>
            <h4>аутсорс команда</h4>
          </section>

          <section class="service">
            <!-- svg-brand -->
            <svg class="svg-brand" id="svg-brand" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.67 61"><title>Branding</title><g id="Брендинг_и_айдентика_2_"><g><circle class="st27" cx="28.7" cy="20.5" r="10"/><g><g><g><path class="st25" d="M46.7,24.6C44.1,8.3,31.8-2.2,19.2,1.1C6.6,4.4-1.6,20.2,1,36.4"/></g></g><g><g><path class="st25" d="M47.2,31.1c0-2.2-0.1-4.3-0.5-6.5"/><path class="st25" d="M1,36.4c0.1,0.4,0.1,0.9,0.2,1.3"/></g></g><path class="st25" d="M17.8,59.5c5.2-7.7,7.7-18.2,6-29"/><path class="st25" d="M21.1,60.3c5.1-8.3,7.4-19.4,5.6-30.5l0,0c-0.3-2-1.9-3.4-3.5-3c-1.6,0.4-2.6,2.4-2.3,4.4l0,0c1.6,10.1-1,20.1-6.2,26.9"/><path class="st25" d="M24.6,60.5c4.7-8.9,6.8-20.1,5-31.5l0,0c-0.6-4.1-3.7-6.7-6.9-5.9c-3.2,0.8-5.2,4.8-4.6,8.9l0,0c1.5,9.3-1.1,18.4-6.1,24.4"/><path class="st25" d="M28.3,60c4.2-9.2,5.9-20.4,4.1-31.7l0,0c-1-6.1-5.6-10-10.3-8.8c-4.7,1.2-7.8,7.2-6.9,13.3l0,0c1.3,8.3-1.1,16.4-5.7,21.5"/><path class="st25" d="M32.2,58.5c3.5-9.3,4.8-20.1,3.1-31l0,0c-1.3-8.1-7.4-13.4-13.7-11.7c-6.3,1.6-10.4,9.6-9.1,17.7l0,0c1.1,7.1-1,14-5.1,18.2"/><path class="st25" d="M5.4,48.9c3.3-3.4,5-9,4.1-14.7l0,0C7.9,24.1,13,14.2,20.9,12.1c7.9-2,15.6,4.5,17.2,14.7l0,0c1.6,10.1,0.8,20.1-1.9,29.1"/><path class="st25" d="M40.4,51.6c1.7-8.1,2-16.8,0.6-25.6l0,0C39.1,13.9,29.8,6,20.4,8.4C10.9,10.9,4.8,22.8,6.7,35l0,0c0.7,4.2-0.6,8.3-2.9,10.8"/><path class="st25" d="M44.4,44.6c0.6-6.3,0.5-12.8-0.6-19.3l0,0c-2.2-14.2-13-23.4-24-20.5C8.7,7.6,1.6,21.5,3.8,35.7l0,0c0.4,2.5-0.2,4.9-1.4,6.6"/></g></g></g></svg>
            <h4>Брендинг и айдентика</h4>
          </section>
        </div><!-- end svc-icons-wrap -->
        <div class="svc-text">
          <p class="title">Наши компетенции охватывают большой спектр задач клиента</p>
          <p>Быстро движущиеся тенденции требуют глубоких основных навыков. Наш уровень более широк, чем вы можете ожидать!</p>
        </div><!-- end svc-text -->
      </div><!-- end container -->
    </article>

    <!-- ABOUT-WORK -->

    <section class="about-work before-on">
      <span class="line"></span>
      <div class="container">
        <h2 class="col-lg-4 col-md-4 col-sm-2 col-xs-6">пара слов о делах</h2>
        <div class="col-lg-6 col-md-8 col-sm-5 col-xs-6 work-txt">
          <p>Хотим рассказать подробнее о нашей специализации. Мы видим большую проблему в том, что даже при качественной разработке веб и мобайл продукта очень мало уделяется времени первоначальному рисерчу и улучшениям проекта после запуска. Или не уделяется вовсе. Как итог, дорогостоящий продукт приводит к нулевой конверсии и потере клиентов.</p>
          <p>Мы убеждены, что после запуска первого продукта все только начинается. Аналитика, фидбек от аудитории, тесты позволяют улучшать продукт. Двигаться от простого к более сложному. Мы предлагаем последовательную разработку, при которой к первой версии (MVP) в дальнейшем итерационно добавляется новый функционал. Только так может получиться действительно хороший результат, а не просто красивая картинка.</p>
        </div><!-- end col-lg-6 -->
      </div><!-- end container -->
    </section>

    <!-- OUR-CLIENTS -->

    <section class="our-clients">
      <div class="container">
        <h2>Наши клиенты</h2>
        <p class="subtitle">Мы работаем с хорошими компаниями, большими и маленькими, с холдингами и стартапами по всему миру.</p>
        <div class="clints-logos">
          <figure>
            <img src="/assets/pic/svg/clients/client-1.svg" alt="client">
          </figure>
          <figure>
            <img src="/assets/pic/svg/clients/client-2.svg" alt="client">
          </figure>
          <figure>
            <img src="/assets/pic/svg/clients/client-3.svg" alt="client">
          </figure>
          <figure>
            <img src="/assets/pic/svg/clients/client-4.svg" alt="client">
          </figure>
          <figure>
            <img src="/assets/pic/svg/clients/client-5.svg" alt="client">
          </figure>
          <figure>
            <img src="/assets/pic/svg/clients/client-6.svg" alt="client">
          </figure>
          <figure>
            <img src="/assets/pic/svg/clients/client-7.svg" alt="client">
          </figure>
        </div><!-- end clints-logos -->
      </div><!-- end container -->
    </section>

    <!-- FOOTER -->

    <footer class="footer" id="footer">
      <div class="footer-contacts">
        <p class="social">
          <a href="skype:" class="skype"></a>
          <a href="" class="fb" target="_blank"></a>
          <a href="" class="inst" target="_blank"></a>
          <a href="" class="linkd" target="_blank"></a>
        </p>
        <address>
          <p class="phones">
            <a href="tel:+380500874311" class="phone">+38 (050) 087-43-11</a> /
            <a href="tel:+380932831175" class="phone">+38 (093) 283-11-75</a>
          </p>
          <a href="mailto:info@belka-z.com" class="email">info@belka-z.com</a>
          <span class="location">Украина, Чернигов</span>
        </address>
        <a href="" class="btn-3">Оставить заявку
          <svg width="37px" height="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 40.7 21.8" style="enable-background:new 0 0 40.7 21.8;" xml:space="preserve">
          <g>
            <polyline class="st5" points="30.8,0.9 39.8,10.9 30.8,20.9  "/>
            <line class="st6" x1="0.8" y1="10.9" x2="37.8" y2="10.9"/>
          </g>
        </svg>
      </a>
    </div><!-- end footer-contacts -->
  </footer>

</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/js/libs.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
{% endblock %}