{% extends "main.twig" %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

<body>

  {% include "google-tag.twig" %}

  {% include "header-menu.twig" %}

  <main class="viewport animsition">

  <!-- CONTACTS -->

  <div class="contacts clear" id="contacts">
    <div class="container">
      <form class="feed-back" action="index.html" id="feedBack">
        <div class="col-lg-3 col-md-4 col-sm-2 col-xs-6">
          <div class="input-effect">
            <input class="effect-16" type="text">
            <label>Имя</label>
            <span class="focus-border"></span>
          </div>
        </div><!-- end col-lg-3 col-md-4 col-sm-2 col-xs-6-->
        <div class="col-lg-3 col-md-4 col-sm-2 col-xs-6">
          <div class="input-effect">
            <input class="effect-16" type="text">
            <label>Компания</label>
            <span class="focus-border"></span>
          </div>
        </div><!-- end col-lg-3 col-md-4 col-sm-2 col-xs-6-->
        <div class="clear"></div>
        <div class="col-lg-3 col-md-4 col-sm-2 col-xs-6">
          <div class="input-effect">
            <input class="effect-16" type="text">
            <label>Телефон</label>
            <span class="focus-border"></span>
          </div>
        </div><!-- end col-lg-3 col-md-4 col-sm-2 col-xs-6-->
        <div class="col-lg-3 col-md-4 col-sm-2 col-xs-6">
          <div class="input-effect">
            <input class="effect-16" type="text">
            <label>Е-mail</label>
            <span class="focus-border"></span>
          </div>
        </div><!-- end col-lg-3 col-md-4 col-sm-2 col-xs-6-->
        <div class="clear"></div>
        <div class="col-lg-6 col-md-8 col-sm-4 col-xs-6">
          <div class="input-effect textarea-wrap">
            <textarea name="" class="effect-16 textarea"></textarea>
            <label>Чем мы можем вам помочь?</label>
            <span class="focus-border"></span>
          </div><!-- end textarea -->
        </div><!-- end col-lg-6  col-md-8 col-sm-4 col-xs-6-->
        <div class="clear"></div>
        <div class="col-lg-6 buttons-wrap">
          <button class="btn-2" id="submit">Отправить</button>
          <span class="upload-btn">Прикрепить файл</span>
        </div><!-- end buttons-wrap -->
      </form>
      <address>
        <div class="social">
          <a href="skype:" class="skype"></a>
          <a href="" class="fb" target="_blank"></a>
          <a href="" class="inst" target="_blank"></a>
          <a href="" class="linkd" target="_blank"></a>
        </div><!-- end social -->
        <div class="address-info">
          <a href="tel:+380500874311" class="phone">+38 (050) 087-43-11</a>
          <a href="tel:+380932831175" class="phone">+38 (093) 283-11-75</a>
        </div><!-- end address-info -->
        <div class="address-info">
          <span class="title">Сотрудничать с нами</span>
          <a href="mailto:info@belka-z.com" class="email">info@belka-z.com</a>
        </div><!-- end address-info -->
        <div class="address-info">
          <span class="title">Работать у нас</span>
          <a href="mailto:info@belka-z.com" class="email">job@belka-z.com</a>
        </div><!-- end address-info -->
        <p class="address-info .location">
          <span class="address">Украина, Чернигов</span>
        </p><!-- end address-info -->
      </address>
    </div>
    <div class="map-wrap" id="mapWrap" style="-webkit-filter: drop-shadow(0 10px 10px rgba(8,9,11,.6));">
      <svg class="map" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1955.43 1349.86"><defs><style>.cls-1{
        fill:#23282e;}</style></defs><title>Ukraine</title><g id="Layer_2" data-name="Layer 2"><g id="svg2253"><g id="layer1"><path id="ua" class="cls-1" d="M1837.91,675.5v-1.3c-10.4-11.8-3.9-15.7-1.3-27.4,2.6-14.4-15.7,3.9-15.7-3.9,1.3-9.1-6.5-40.5-2.6-48.3,1.3,0,39.2-35.3,39.2-35.3,2.6-5.2-3.9-11.8-3.9-17-1.3-5.2-2.6-11.8,1.3-17,19.6-23.5,81-13.1,99.3-40.5,3.9-5.2-2.6-13.1-5.2-19.6-1.3-2.6-6.5-3.9-6.5-6.5,0-3.9,7.8-3.9,7.8-6.5,0-3.9-5.2-6.5-6.5-10.4-1.3-6.5,0-14.4,1.3-22.2,0-2.6,3.9-5.2,3.9-7.8,5.2-15.7-18.3-1.3-18.3-1.3-3.9-2.6,3.9-9.1,2.6-14.4-5.2-9.1-13.1-18.3-19.6-26.1-9.1-9.1-23.5,13.1-24.8-1.3-6.5-41.8-2.6-30,20.9-40.5,1.3-1.3,11.8-23.5,3.9-20.9-18.3,3.9-27.4,17-43.1,3.9-17-14.4,13.1-18.3,17-24.8,3.9-3.9-1.3-10.4,0-14.4,3.9-17,19.6-26.1,3.9-43.1-5.2-6.5-14.4-7.8-19.6-13.1-6.5-7.8,9.1-24.8-1.3-26.1-24.8-1.3-9.1,19.6-28.7,23.5-66.6,10.4,17-9.1-36.6-18.3-17-2.6-18.3,17-32.7,7.8-5.2-2.6-9.1-9.1-13.1-13.1-11.8-7.8-6.5,22.2-20.9,22.2-9.1,0-18.3-2.6-27.4-6.5-3.9-2.6-6.5-11.8-11.8-10.4-6.5,0-9.1,13.1-17,13.1-9.1,0-15.7-9.1-26.1-10.4-34-5.2,17,45.7-18.3,39.2-9.1-1.3-11.8-13.1-19.6-17-5.2-2.6-13.1,1.3-19.6-1.3-19.6-6.5-34-31.3-50.9-44.4-5.2-3.9-53.6,45.7-70.5,69.2-5.2,7.8-18.3-6.5-27.4-7.8-5.2,0-5.2,7.8-9.1,10.4-6.5,3.9-11.8-11.8-19.6-14.4-31.3-7.8-37.9,37.9-60.1,26.1a72.84,72.84,0,0,1-23.5-15.7c-5.2-5.2-10.4-11.8-11.8-19.6,0-3.9,7.8-5.2,6.5-9.1,0-5.2-34-35.3-35.3-39.2s6.5-10.4,3.9-13.1c-1.3-1.3-3.9-1.3-5.2-1.3-5.2,1.3-9.1,5.2-14.4,5.2-9.1,1.3-10.4-14.4-15.7-20.9-1.3-2.6-3.9-2.6-6.5-1.3-5.2,2.6-32.7,19.6-37.9,19.6-2.6,1.3-2.6-6.5-6.5-6.5a84.46,84.46,0,0,0-26.1,3.9c-2.6,1.3-10.4,19.6-17,6.5-1.3-2.6,3.9-5.2,3.9-7.8,1.3-3.9,1.3-9.1-1.3-11.8-3.9-3.9-9.1-1.3-13.1-5.2-6.5-3.9,1.3-17-3.9-22.2-5.2-6.5-23.5-10.4-19.6-18.3,5.2-6.5,35.3-13.1,27.4-24.8-10.4-15.7-35.3-14.4-43.1-20.9-5.2-3.9-9.1-9.1-10.4-14.4-2.6-5.2,1.3-11.8-1.3-14.4-5.2-5.2-13.1-5.2-18.3-9.1-7.8-5.2-11.8-15.7-20.9-17-10.4-2.6-14.4,20.9-26.1,20.9-3.9,0-2.6-9.1-6.5-9.1-50.9-3.9-19.6,24.8-49.6,37.9,0,0-56.2,3.9-57.5,3.9-2.6,0,6.5,39.2-5.2,50.9-7.8,6.5-17,13.1-27.4,14.4-3.9,0-2.6-7.8-6.5-10.4-2.6-1.3-6.5,5.2-9.1,3.9-14.4,3.9-31.3,2.6-43.1,10.4-5.2,2.6-2.6,11.8-7.8,14.4-7.8,3.9-18.3,0-27.4,2.6-5.2,1.3-14.4,14.4-20.9,50.9-1.3,9.1-3.9,34-3.9,44.4,0,14.4,52.2,49.6,19.6,56.2-34,7.8-18.3-24.8-48.3-27.4-60.1-3.9,11.8,10.4-31.3,18.3-6.5,1.3-13.1-7.8-20.9-6.5-20.9,5.2-9.1,27.4-27.4,32.7-10.4,2.6-20.9-34-31.3-39.2s-22.2,13.1-30,23.5c-5.2,6.5,5.2,26.1-2.6,24.8-27.4-6.5,13.1,1.3-20.9-22.2-18.3-13.1-11.8,13.1-23.5,13.1-32.7,0-3.9-11.8-15.7-19.6-7.8-3.9-7.8,15.7-13.1,20.9-7.8,9.1-19.6-2.6-26.1-1.3-6.5,0,0,23.5-6.5,27.4-1.3,2.6-5.2-1.3-7.8-3.9-17-9.1,30-31.3-22.2-17-15.7,3.9,7.8,24.8-24.8,11.8-3.9-1.3,3.9-9.1,1.3-11.8s-7.8,3.9-10.4,2.6c-7.8-6.5,2.6-19.6-11.8-15.7-30,7.8-70.5,11.8-103.2,7.8-3.9-1.3-5.2-6.5-9.1-6.5-18.3-1.3-36.6,10.4-56.2,13.1h-19.6c-6.5,0-13.1-2.6-19.6-1.3-17,5.2-28.7,18.3-44.4,24.8-10.4,3.9-23.5,1.3-34,6.5-5.2,3.9-23.5,65.3-36.6,61.4-3.9-1.3-3.9-7.8-6.5-7.8-7.8-1.3-17-1.3-23.5,1.3-20.9,6.5,10.4,18.3-5.2,22.2l-1.3,1.3v-1.3c3.9,5.2,9.1,9.1,11.8,14.4,2.6,7.8-2.6,17,0,23.5,11.8,24.8,49.6,49.6,70.5,65.3,3.9,3.9-26.1,2.6-19.6,15.7,1.3,1.3,27.4,24.8,27.4,35.3-3.9,47-18.3,18.3-41.8,37.9-10.4,9.1-90.1,156.7-86.2,167.2,2.6,14.4,15.7,24.8,19.6,37.9,1.3,6.5-9.1,15.7-3.9,20.9,22.2,27.4,9.1-24.8,24.8,24.8,1.3,2.6-3.9-3.9-6.5-5.2-6.5-1.3-13.1,1.3-19.6,1.3-3.9-1.3-9.1-1.3-13.1-2.6,1.3,13.1-7.8,31.3-9.1,44.4-1.3,9.1,0,18.3-3.9,26.1-3.9,9.1-15.7,11.8-17,20.9-2.6,9.1,3.9,18.3,3.9,28.7,30,1.3,10.4,15.7,31.3,23.5,3.9,1.3,9.1-5.2,13.1-2.6,7.8,5.2,9.1,18.3,17,23.5,5.2,1.3,9.1-5.2,14.4-6.5,3.9,0,7.8,2.6,10.4,3.9,17,11.8-3.9,9.1,11.8,22.2,3.9,2.6,11.8-2.6,20.9-27.4,1.3-2.6,1.3-6.5,3.9-6.5,3.9,0,36.6,15.7,40.5,15.7,2.6,0,3.9-6.5,6.5-7.8,17-6.5,60.1,10.4,81,5.2,11.8-3.9,19.6-14.4,31.3-15.7,20.9-1.3,35.3,26.1,49.6,30,19.6,6.5,26.1-30,31.3-35.3,23.5-24.8,83.6-22.2,101.9-40.5,35.3-34-15.7-5.2,9.1-37.9a54.73,54.73,0,0,1,27.4-17l1.3-3.9,5.2-11.8v-2.6l1.3-5.2,13.1,2.6c-1.3-2.6-3.9-5.2-3.9-7.8,0-1.3,49.6-7.8,52.2-9.1,24.8-11.8,17-31.3,52.2-28.7,14.4,1.3,30,6.5,41.8,15.7,3.9,2.6,0,11.8,3.9,11.8,9.1,0,18.3-9.1,28.7-10.4,5.2-1.3-1.3,11.8,0,17,2.6,10.4,9.1-9.1,11.8-6.5,3.9,5.2,3.9,11.8,7.8,15.7,5.2,5.2,0-17,7.8-19.6,44.4-11.8,24.8,14.4,56.2,27.4,13.1,5.2,3.9-20.9,15.7-14.4,30,19.6,9.1,47,18.3,75.8,1.3,6.5,34,30,41.8,32.7,15.7,5.2-3.9-23.5,14.4-13.1,23.5,13.1-6.5,49.6,10.4,39.2,6.5-3.9,2.6,17,7.8,22.2,7.8,5.2,40.5,6.5,48.3,13.1l13.1,40.5c0,2.6-7.8,2.6-6.5,5.2,2.6,9.1,32.7,13.1,32.7,14.4-7.8,5.2-17,6.5-23.5,11.8-2.6,2.6-1.3,5.2-2.6,7.8-6.5,6.5-13.1-18.3-23.5-18.3-7.8,0,0,24.8-7.8,23.5-5.2-1.3-22.2-14.4-22.2-14.4-2.6,3.9-1.3,11.8-6.5,13.1-2.6,1.3-3.9-9.1-5.2-6.5-6.5,5.2-5.2,14.4-9.1,19.6-1.3,1.3-3.9,0-5.2-1.3,0-2.6,2.6-3.9,2.6-6.5a76,76,0,0,0-6.5-18.3c-5.2-9.1-17,10.4-23.5,18.3-18.3,20.9,14.4,31.3,17,41.8,1.3,6.5-5.2,13.1-5.2,19.6s7.8,11.8,5.2,17-11.8,5.2-17,10.4c-11.8,9.1,6.5,14.4,0,23.5-5.2,6.5-13.1,10.4-17,15.7-11.8,18.3,7.8,47-1.3,48.3-6.5,1.3-13.1-1.3-19.6,0h1.3l-6.5,9.1c0,3.9-1.3,7.8-3.9,6.5,2.6,1.3,6.5-1.3,9.1,1.3,3.9,3.9,2.6,11.8,7.8,15.7,5.2,5.2,61.4,7.8,60.1,1.3,0-1.3-18.3-5.2-5.2-13.1,7.8-3.9,17-2.6,24.8-6.5,13.1-6.5,18.3-24.8,32.7-30,28.7-10.4,43.1,0,49.6,24.8,2.6-7.8,13.1-37.9-2.6-43.1-2.6-1.3,1.3,5.2-1.3,5.2-1.3,1.3-1.3-3.9-2.6-5.2-7.8-2.6-2.6,20.9-11.8,3.9-7.8-11.8-6.5-30-7.8-43.1,0-5.2-9.1-18.3-3.9-15.7,11.8,3.9,9.1,34,20.9,30,39.2-15.7,13.1-19.6,13.1-36.6,0-2.6,2.6,5.2,5.2,3.9,3.9-1.3-6.5-11.8-2.6-14.4,6.5-2.6,14.4,2.6,20.9,0,5.2-1.3,9.1-6.5,11.8-11.8,10.4-23.5,22.2-52.2,30-78.4,1.3-5.2-9.1-10.4-6.5-15.7,1.3-3.9,9.1-5.2,11.8-9.1,9.1-17-17-14.4-6.5-28.7,28.7-36.6,67.9-20.9,67.9-32.7,1.3-10.4-13.1-24.8-3.9-31.3,6.5-5.2,2.6,20.9,11.8,26.1,3.9,3.9,9.1-6.5,15.7-7.8s14.4,0,22.2-1.3c17-2.6-3.9-31.3-3.9-31.3-1.3-15.7,11.8-13.1,3.9-26.1,3.9,0,7.8-1.3,7.8,1.3,1.3,75.8,44.4,50.9,84.9,23.5,5.2-3.9-11.8,9.1-17,14.4-6.5,7.8,2.6,22.2-9.1,23.5-22.2,3.9-47,5.2-69.2,7.8-1.3,0-34,0-30,3.9,7.8,6.5,15.7,15.7,26.1,18.3,3.9,1.3-2.6-10.4,1.3-11.8,7.8-3.9,17,1.3,26.1,0,2.6,0,13.1-6.5,14.4,1.3,2.6,13.1-30,22.2-20.9,31.3,3.9,5.2,49.6-5.2,56.2-3.9,3.9,1.3,0,10.4,3.9,11.8,9.1,3.9,20.9,5.2,31.3,1.3,10.4-2.6,15.7-15.7,24.8-19.6,9.1-5.2,20.9-2.6,28.7-6.5,2.6-1.3-2.6-7.8,0-9.1,2.6-2.6,7.8,3.9,10.4,2.6,6.5-2.6,2.6-20.9,9.1-18.3,11.8,2.6,22.2,27.4,31.3,19.6,6.5-6.5,5.2-18.3,13.1-23.5,22.2-13.1-1.3,22.2,13.1,35.3,5.2,3.9,18.3-11.8,17-5.2,0,3.9-40.5,45.7-48.3,49.6-3.9,1.3-7.8-5.2-11.8-2.6-1.3,2.6,6.5,5.2,5.2,7.8,0,0-27.4,24.8-28.7,24.8a28.31,28.31,0,0,0-6.5,10.4c0,2.6,3.9,3.9,3.9,5.2-1.3,1.3-48.3,34-31.3,40.5,32.7,13.1,26.1-9.1,53.6-9.1,9.1,1.3,37.9,24.8,47,20.9,11.8-3.9,20.9-18.3,36.6-2.6,35.3,36.6,5.2,31.3,11.8,52.2,6.5,18.3,15.7,24.8,14.4,26.1-5.2,5.2-23.5,5.2-20.9,13.1,3.9,9.1,20.9,3.9,30,7.8,9.1,2.6,9.1,11.8,20.9,11.8,65.3-7.8,52.2-83.6,94-112.3,7.8-6.5,15.7-11.8,26.1-13.1,5.2,0,11.8,6.5,15.7,3.9,9.1-9.1,1.3-27.4,10.4-35.3,9.1-6.5,14.4-3.9,17-15.7,1.3-1.3-2.6,0-3.9-1.3-6.5-6.5,3.9-19.6,7.8-20.9,6.5-3.9,15.7-3.9,23.5-2.6s13.1,11.8,20.9,10.4c9.1-1.3,11.8-13.1,19.6-17,6.5-2.6,14.4,0,20.9-2.6,26.1-9.1,5.2-34,7.8-54.9,2.6-10.4,18.3-20.9,11.8-28.7,0,0-53.6,10.4-54.9,11.8-7.8,5.2-1.3,20.9-9.1,24.8-5.2,2.6-11.8,0-17-2.6-3.9-1.3-2.6-9.1-6.5-9.1-9.1,0-1.3,19.6-6.5,27.4-6.5,6.5-13.1,14.4-22.2,17-22.2,6.5-95.4-64-107.1-79.7-3.9-3.9-22.2-36.6-19.6-39.2,7.8-5.2,15.7,14.4,24.8,13.1,30-5.2,22.2-65.3,34-83.6,3.9-5.2,11.8-6.5,14.4-11.8,6.5-9.1,6.5-20.9,13.1-28.7,19.6-26.1,30-23.5,47-15.7,1.3,1.3,1.3-2.6,2.6-3.9,11.8-13.1-2.6-37.9,28.7-39.2,10.4-1.3,17,19.6,24.8,14.4,9.1-5.2-2.6-20.9,1.3-31.3,0-2.6,30-36.6,31.3-36.6,5.2-2.6,11.8,10.4,14.4,6.5s3.9-39.2,11.8-45.7c10.4-7.8,43.1-20.9,56.2-23.5,3.9,0,5.2,13.1,7.8,9.1C1835.31,689.9,1834,680.7,1837.91,675.5Z"/></g></g></g></svg>
      </div><!-- end map-wrap -->

    </div><!-- end contacts -->

  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/assets/js/libs.min.js"></script>
  <script src="/assets/js/main.js"></script>


</body>
</html>
{% endblock %}