<!-- COMMON-MENU -->

  <header class="common-menu">

    <div class="main-logo">
      <a href="/" class="clear animsition-link" id="logoLink">
        <img src="/assets/pic/svg/main-logo.svg" alt="logo">
      </a>
      <span class="logo-text"></span>
    </div><!-- end logo-wrap -->

    <div class="menu-button" id="open-button"><span>{{ menuText }}</span>
      <div class="open-button">
        <span class="line"></span>
      </div>
    </div> <!-- end menu-button -->
  </header>

  <!-- ACTIVE-MENU -->

  <div class="menu-wrap">
    <nav class="menu">
      <div class="icon-list">
        <ul class="pages-list">
          <li><a href="/portfolio">Портфолио</a></li>
          <li><a href="/about-us">Студия</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>
        <ul class="social-list">
          <li><a href="" target="_blank">facebook</a></li>
          <li><a href="" target="_blank">instagram</a></li>
          <li><a href="" target="_blank">linkedin</a></li>
          <li><a href="skype:">skype</a></li>
        </ul>
        <address>
          <a class="phone" href="tel:+380500874311">+38 (050) 087-43-11</a>
          <a class="email" href="mailto:info@belka-z.com">info@belka-z.com</a><br>
          <a class="lang" href="">english</a>
        </address>
      </div><!-- end icon-list -->
    </nav>
    <button class="close-button" id="close-button"></button>
  </div>