{% extends "main.twig" %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

<body>

  {% include "google-tag.twig" %}

  {% include "header-menu.twig" %}

  <main class="viewport animsition">

    <!-- MAIN -->

    <div class="main clear" id="main" data-animsition-in-class="fade-in">
      <div class="container clear">
        <a href="/portfoliol" class="title animsition-link col-lg-9 col-md-12 col-sm-6 col-xs-6 " data-animsition-out-class="fade-out-up">
          <p class="subtitle">
            Создаем сайты и интерфейсы, разрабатываем, продвигаем, а так же занимаемся поддержкой интернет-проектов любого уровня сложности.
          </p>
          <h1 class="">Belka-<span>Z</span> Digital-студия</h1>
        </a>
      </div>
      <a href="/portfolio" class="scroll-but animsition-link">проекты</a>
    </div><!-- end main -->

  </main> <!-- end viewport -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/assets/js/libs.min.js"></script>
  <script src="/assets/js/main.js"></script>


</body>
</html>

{% endblock %}