{% extends "main.twig" %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

<body>

  {% include "google-tag.twig" %}

  {% include "header-menu.twig" %}

  <!-- <button class="menu-button" id="open-button"></button> -->

  <div class="viewport animsition">

    <!-- PORTFOLIO -->

    <main class="portfolio clear" id="portfolio">
      <div class="container">
        <p class="col-lg-12 col-md-12 col-sm-6 col-xs-6 tags portfolio-tabs">
          <a href="#" class="selected">Все</a>
          <a href="#">Сайты</a>
          <a href="#">Айдентика</a>
        </p>
        <article class="examples-works animsition" data-animsition-in-class="fade-in-up">
          <a href="https://xn--80actcgauhukdsp.xn--p1ai/" class="work" target=_blank">
            <img src="/assets/pic/img/folio/folio-07.jpg" alt="folio">
            <div class="title-wrap">
              <h4>Kонкурс Fiacbi 2017</h4>
              <p>Сайт международного конкурса</p>
            </div><!-- end title-wrap -->
          </a>
          <a href="http://xn--90ave1a.xn--p1ai/" class="work" target="_blank">
            <img src="/assets/pic/img/folio/folio-06.jpg" alt="folio">
            <div class="title-wrap">
              <h4>МБФН 2017</h4>
              <p>Сайт для крупного бизнес форума</p>
            </div><!-- end title-wrap -->
          </a>
          <a href="http://newch.tv/" class="work" target="_blank">
            <img src="/assets/pic/img/folio/folio-05.jpg" alt="folio">
            <div class="title-wrap">
              <h4>Новый Чернигов</h4>
              <p>Сайт регионального телеканала</p>
            </div><!-- end title-wrap -->
          </a>
          <a href="https://pro.cn.ua/" class="work" target="_blank">
            <img src="/assets/pic/img/folio/folio-04.jpg" alt="folio">
            <div class="title-wrap">
              <h4>ProCn</h4>
              <p>Сайт информационного портала</p>
            </div><!-- end title-wrap -->
          </a>
          <a href="http://disconti.ru/" class="work" target="_blank">
            <img src="/assets/pic/img/folio/folio-03.jpg" alt="folio">
            <div class="title-wrap">
              <h4>Disconti</h4>
              <p>Сервис акций и скидок</p>
            </div><!-- end title-wrap -->
          </a>
          <span href="#" class="work">
            <img src="/assets/pic/img/folio/folio-02.jpg" alt="folio">
            <div class="title-wrap">
              <h4>Mamanet</h4>
              <p>Информационный портал</p>
            </div><!-- end title-wrap -->
          </span>
          <a href="http://lingvagarant.ru/" class="work" target="_blank">
            <img src="/assets/pic/img/folio/folio-01.jpg" alt="folio">
            <div class="title-wrap">
              <h4>Lingva-garant</h4>
              <p>Сайт для бюро лингвистических переводов</p>
            </div><!-- end title-wrap -->
          </a>
        </article>
      </div><!-- end container -->
    </main>

  </div><!--  end viewport -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/assets/js/libs.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/portfolio.js"></script>

</body>
</html>
{% endblock %}